<h3>アカウント</h3>
<hr>

<table>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>パスワード</th>
    <td>********</td> 
  </tr>
</table>

<%= link_to "プロフィール",users_profile_path %>