<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div><%=link_to "go to login_check_page",new_user_session_url %></div>
<div><%=link_to "Sign Out",destroy_user_session_path,method: :delete %></div>
<p>Find me in app/views/users/index.html.erb</p>